/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';
@import 'quill/dist/quill.bubble.css';
@import 'quill/dist/quill.snow.css';
@import '@syncfusion/ej2-base/styles/material.css';
@import '@syncfusion/ej2-icons/styles/material.css';
@import '@syncfusion/ej2-buttons/styles/material.css';
@import '@syncfusion/ej2-splitbuttons/styles/material.css';
@import '@syncfusion/ej2-inputs/styles/material.css';
@import '@syncfusion/ej2-lists/styles/material.css';
@import '@syncfusion/ej2-navigations/styles/material.css';
@import '@syncfusion/ej2-popups/styles/material.css';
@import '@syncfusion/ej2-dropdowns/styles/material.css';
@import '@syncfusion/ej2-richtexteditor/styles/material.css';

.text-decoration-none {
  text-decoration: none;
}

.body {
  height: 100vh;
  margin: 0;
}

div[style*="position: fixed"] {
  display: none !important;
}
